/* Layout.module.css */

.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of items */
}

.message {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffc107;
  color: #856404;
  border: 1px solid #ffeeba;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

.navbar a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #e2e6ea;
}

.main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.active {
  background-color: aqua;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* experience.css */

.container,
.container2 {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.container {
  max-width: 300px;
}

.container2 {
  height: 70vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-top: 1rem;
  font-weight: bold;
  color: #555;
}

input,
textarea {
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 1.5rem); /* Ensures consistent width */
  font-size: 1rem;
  margin-bottom: 1rem;
  height: 20px;
}

textarea {
  margin-bottom: 2.2rem;
}

input:focus,
textarea:focus {
  border-color: #0070f3;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  position: relative;
}

button {
  padding: 0.75rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  margin-left: 1rem;
}

h2 {
  margin-bottom: 0;
}

Link {
  background-color: #005bb5;
}
